@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vietnam;
  src: url(/Be_Vietnam_Pro/BeVietnamPro-Regular.ttf);
}

html {
  color: #e2e4f3;
  font-family: Vietnam, system-ui;
}
